.Header{
    height: 300px;
    background:url("../../images/pattern-bg.png") center/cover no-repeat;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:1em;

    &-title{
        color:white
    }
}

.Input{

    font-weight: 400;
    display: flex;
    flex-direction: row;
    margin-top:1em;

    &-text{
        width: 300px;
        height:60px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left:20px;
        
        @include mq("tablet") {
            width: 600px;
            height:50px;
          }
        
    }

    &-button{
        background-color: #000;
        color:white;
        width: 50px;
        height: 60px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        @include mq("tablet") {
            width: 50px;
            height:50px;
          }

    }
}